@page
@model SnakeFood.Pages.Restaurants.List
@{
}

<!DOCTYPE html>

<html>
<head>
    <title>Restaurants</title>
</head>
<body>
<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
        </tr>
    }
</table>
<div>
    @Model.Message
</div>
</body>
</html>